<%= form_for([@patient, @appointment]) do |f| %>

<div class="field">
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>
</div>
<div class="field">
  <%= f.label :start_time %>
  <%= f.time_select :start_time %>
</div>
<div class="field">
  <%= f.label :doctor_id %>
  <%= f.collection_select :doctor_id, Doctor.all.where(category_id: @patient.category_id), :id, :name %>
</div>
<%= f.submit %>

<% end %>
